POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOSTS=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_SSL=false
YDB_ENDPOINT=localhost:2135
YDB_DATABASE=local
REDIS_ADDRS=localhost:6379
